* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    color: #212529;
    line-height: 1.6;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-weight: 600;
    margin-bottom: 12px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    width: 1250px;
}

.section, .list-section, .map-section {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    flex: 1;
    min-width: 350px;
}
.map-section {
    flex: 1.6;
    position: sticky;
    top: 20px;
    align-self: start;
}

form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
    margin-bottom: 15px;
}

button {
    background-color: #0d6efd;
    color: white;
    padding: 10px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #0b5ed7;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #dee2e6;
    margin-bottom: 20px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

table th {
    position: sticky;
    top: 0px;
    align-self: start;
    background-color: #f8f9fa;
    font-weight: bold;
}

table a {
    color: #0d6efd;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #198754;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    position: sticky;
    z-index: 1000;
    top: 0px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #0d6efd;
}
